@{
    ViewBag.Title = "Booking Page";
}

@model BookMeetingRoom.Web.Models.BookViewModel


<div class="container">
    <div class="col-lg-12 mb-4">
        <h1>Book Meeting Room</h1>
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm("Book", "Book", FormMethod.Post))
    {

        @Html.AntiForgeryToken()

        <div class="form-group row mb-4">
            @Html.LabelFor(m => m.Name, new { @class = "col-form-label col-sm-2" })

            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group row mb-4">
            @Html.LabelFor(m => m.Time, new { @class = "col-form-label col-sm-2" })

            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Time, Model.TimeOptions, "-- Select Time --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Time, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group row mb-4">
            @Html.LabelFor(m => m.Duration, new { @class = "col-form-label col-sm-2" })

            <div class="col-sm-10">
                @Html.DropDownListFor(m => m.Duration, Model.DurationInMinutes, "-- Select Duration --", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group row mb-4">
            @Html.LabelFor(m => m.NumOfPeople, new { @class = "col-form-label col-sm-2" })

            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.NumOfPeople, new { @class = "form-control", type = "number", max = "10" })
                @Html.ValidationMessageFor(m => m.NumOfPeople, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Book</button>
        </div>
    }

    @if (ViewData["BookingMessage"] != null)
    {
        <div class="card mt-5">
            <div class="card-body">
                <h5 class="card-title">WARNING!</h5>
                <h6 class="card-subtitle mb-2 text-muted">Booking failed</h6>
                <p class="card-text">

                    <div class="alert alert-warning">
                        @ViewData["BookingMessage"]
                    </div>
                </p>
            </div>
        </div>
    }

    <div class="col-lg-12 mb-4">
        <h1>Booking Suggestion</h1>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Meeting Room A</th>
                <th scope="col">Meeting Room B</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">7 AM to 9 AM</th>
            </tr>
            <tr>
                <th scope="row">8 AM to 10 AM</th>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>

